body{
    background-image: linear-gradient(rgba(143, 180, 151, 1), rgb(64, 78, 67));
}
header{
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-image: url(./images/backgounds/compChips.jpg);
    background-size: cover;
    height: 40vh;
    text-align: center;
}
#pfp{
    border-radius: 50%;
    height: 50vh;
}