body{
    background-image: linear-gradient(rgb(64, 78, 67), rgba(143, 180, 151, 1));
}
header{
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-image: url(./images/backgounds/compChips.jpg);
    background-size: cover;
    height: 40vh;
    text-align: center;
}
#pfp{
    border-radius: 50%;
    height: 50vh;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}